<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>My Carnivorous Plant Terrarium</title>
  <link rel="stylesheet" href="stylesheets/main.css">
</head>
<body>
  <main>
    <h1>My Carnivorous Plant Terrarium</h1>
    <hr>
    <section id="plot-container"></section>
    <section id='plant-container'></section>
  </main>
</body>
</html>

<script type="text/template" id="plant-collection-template">
  <a class="create">Add Plant</a>
  <table class="plant-collection-table">
    <thead>
      <tr>
        <th class="id">&nbsp;</th>
        <th class="taxon">&nbsp;</th>
        <th class="common-name">&nbsp;</th>
        <th colspan="3">Temperature Bounds <a>*</a></th>
        <td class="crud">&nbsp;</td>
      </tr>
      <tr>
        <td class="id">IDs</td>
        <td class="taxon">Taxon</td>
        <td class="common-name">Common Name</td>
        <td class="temperature">Temp</td>
        <td class="humidity">Hum</td>
        <td class="luminosity">Lum</td>
        <td class="crud">&nbsp;</td>
      </tr>
    </thead>
    <tbody>
      <% _.each(plants, function(plant) { %>
      <tr>
        <td class="id"><a href="plant-info/<%- plant.id %>"><%= plant.id %></a></td>
        <td class="taxon"><%= plant.taxon %></td>
        <td class="common-name"><%= plant.commonName %></td>
        <td class="temperature"><%= plant.formattedTemperature() %></td>
        <td class="humidity"><%= plant.formattedHumidity() %></td>
        <td class="luminosity"><%= plant.formattedLuminosity() %></td>
        <td class="crud">
          <a class="view" href="plant-info/<%- plant.id %>">View</a>
        </td>
      </tr>
      <% if(plant.sources) { %>
      <tr>
        <td colspan="2">&nbsp;</td>
        <td class="sources" colspan="4">
          <ul>
          <% _.each(plant.sources, function(source) { %>
            <li><a target="_blank" href="<%= source.link %>"><%= source.text %></a></li>
          <% }); %>
          </ul>
        </td>
      </tr>
      <% } %>
      <% }); %>
    </tbody>
  </table>
  <p class="environment-note"><a>*</a> Temp is lower/higher ambient temperature. Some plants such as Darlingtonia californica need a different soil temperature than ambient temperature. In these cases it is soil temp and then ambient temp. A third temperature field is if extremes are mentioned. Humidity is lower/higher humidity. Luminosity is for the moment just the number of hours of light needed. When I find more literature for lower/upper bounds I will add this; as well as soil moisture, air flow, and pH.</p>
  <a class="create">Add Plant</a>
</script>

<script type="text/template" id="plant-view-template">
  <table>
    <thead>
      <tr>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td></td>
      </tr>
    </tbody>
  </table>
</script>

<script type="text/javascript" src="javascripts/bundle.js"></script>
<script type="text/javascript" src="javascripts/ga.js"></script>
