@import './normalize.css';
@import './pygments.css';

$header-color: #073642;
$light-grey: #efefef;
$grey: #ccc;
$blue: #08c;

@font-face {
  font-family: 'Slabo 27px';
  src: url('../fonts/Slabo27px-Regular.ttf');
}

main {
  padding: 0 10px;
}

h1,
h2,
h3 {
  color: $header-color;
  font-family: 'Slabo 27px', serif;
}

a {
  color: $blue;
  text-decoration: none;

  &:hover {
    color: darken($blue, 10%);
  }
}

#plot-container {
  height: 400px;
  margin: 0 auto;
  min-width: 400px;
  width: 100%;
}

#plant-container {
  min-width: 300px;
  width: 100%;
}

.plant-collection-table {
  border-collapse: collapse;
  border-top: 1px solid $grey;
  font-size: 14px;

  thead {
    font-weight: bold;
  }

  tbody {
    .id {
      font-family: monospace;
    }

    .taxon {
      font-style: italic;
    }
  }

  tr {
    border-bottom: 1px solid $grey;

    &:nth-child(odd) {
      background-color: $light-grey;
    }
  }

  td,
  th {
    padding: 10px 5px;
  }

  .taxon {
    width: 200px;
  }

  .common-name {
    width: 200px;
  }

  .sources {
    a {
      display: block;
    }
  }
}
