@import './normalize.css';
@import './pygments.css';

#plot-container {
  height: 400px;
  margin: 0 auto;
  min-width: 400px;
  width: 100%;
}

#plant-container {
  min-width: 300px;
  width: 100%;
}
